body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container {
  position: relative;
  display: inline-block;
}

.imgs {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #d4af37;
  position: relative;
  z-index: 2;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carousel-control.right,
.carousel-control.left,
.carousel .item,
.carousel-inner,
.carousel-inner > .item > img {
  border-radius: 10px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #d4af37;
  opacity: 0;
  transition: opacity 0.3s ease;
  filter: blur(10px); /* Adjust the blur radius */
  z-index: 1;
}

.image-container:hover .shadow {
  opacity: 0.5;
}

.Center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003366;
}

.navbar-color {
  color: #ffffff;
  /* background-color: #D4AF37; */
}

p {
  font-weight: bold;
}

.custom-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
}
.custom-btn :hover {
  background-color: rgba(219, 224, 225, 0.521);
}
.btn-text {
  text-decoration: underline;
  font-weight: bold;
}

.icon {
  filter: grayscale(100%); /* Apply grayscale effect */
  transition: filter 0.3s; /* Add transition for smooth effect */
  border: none;

  /* Add additional styles for hover effect */
  cursor: pointer;
  opacity: 0.5;
}

.icon:hover {
  filter: none; /* Remove grayscale effect on hover */
  opacity: 1;
}

.post-hr {
  width: 100%; /* Set the width to 100% */
  margin-top: 10px; /* Add spacing between the hr and content */
  border: none;
  border-top: 1px solid #ccc; /* Add a border style if needed */
}

.post-author {
  font-size: 1rem;
  color: #003366;
  font-weight: bold;
}

.post-content {
  font-size: 1rem;
}
.post-time {
  font-size: 0.8rem;
  color: #003366;
}

.comment-count {
  font-size: 0.8rem;
  color: black;
}

.logout-btn {
  background-color: transparent;
  border: none;
  color: #003366;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: transparent;
  border: none;
  color: #003366;
  font-weight: bold;
  text-decoration: underline;
}
